* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  user-select: none;
}

:root {
  font-size: 62.5%;

  --purple-900: #1c1521;
  --purple-800: #130e16;
  --purple-700: #281d2e;
  --purple-600: #281d2e;
  --purple-500: #46374e;
  --purple-400: #6a5b75;
  --purple-300: #957ba8;
  --purple-200: #aa93b7;
  --purple-100: #c9b9d0;

  --green: #3aa394;
  --yellow: #d3ad69;
  --red: #d36969;
  --purple: #8969d3;

  --white: #e5e5e5;
  --black: #141414;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--purple-800);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul li {
  list-style-type: none;
}
