.ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.28rem 6rem;
  background-color: var(--purple_darker);
}
.ul > div {
  display: flex;
  gap: 6rem;
}

.ul li svg {
  height: 4rem;
  cursor: pointer;
  color: var(--light);
  transition: 0.4s;
}

.ul li svg:hover {
  filter: brightness(0.9);
  transform: scale(1.2);
}

.ul > h1 {
  text-transform: uppercase;
  color: var(--light);
  font-size: 6.4rem;
  font-weight: 900;
  transition: 0.5s;
  user-select: none;
}

.ul h1:hover {
  filter: brightness(0.9);
  transform: scale(1.2);
  cursor: pointer;
}

.guess {
  display: grid;
  place-items: center;
}

.form {
  margin-top: 12.8rem;
  display: grid;
  grid-template-columns: repeat(5, 8rem);
  grid-template-rows: repeat(6, 8rem);
  gap: 1.2rem;
}
.form input {
  caret-color: transparent;
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
  height: 100%;
  border-radius: 0.5rem;
  background: var(--purple_darker);
  font-size: 3.8rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-family: "Nunito";
  user-select: none;
}

.form input:focus {
  /* border: .4rem solid var(---secondary);  */
  animation: sizing 0.3s;
  background: var(--purple_lighter);
}

.form .correct {
  background: var(--green) !important;
}

.letterExists {
  background: var(--yellow) !important;
}

.disabled {
  opacity: 0.4;
}

@keyframes fadeIn {
  from {
    width: 0;
    color: transparent;
  }
  to {
    width: 100%;
    color: #fff;
  }
}
@keyframes sizing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.modal_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 999;
  display: grid;
  place-items: center;
  background: rgba(0, 0, 0, 0.25);
}

.modal {
  max-width: 60rem;
  color: var(--light);
  padding: 3rem;
  background-color: var(--purple_lighter);
  border-radius: 1rem;
  width: 50%;
  animation: modal_in 0.6s cubic-bezier(0.31, 0, 0.08, 0.99);
}

@keyframes modal_in {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.modal > h2 {
  font-weight: 900;
  font-size: 4.5rem;
  margin-bottom: 2rem;
}

.modal > p {
  font-size: 2rem;
  text-align: justify;
}

.modal p a {
  color: #d1bee2;
  transition: 0.3s;
}

.modal p a:hover {
  color: #dfa7ff;
}
